<template name="home">
  <section id="home-container">
		{{#if currentUser }}
      <section id="rooms-section">
       <div class="row">
         <div class="col-md-12">
           <h3 class="rooms-heading">
             {{#if noRoomsCreated}}
               Create a Room
             {{else}}
               Select a Room
             {{/if}}
           </h3>
         </div>
       </div>
       <div class="row">
         <div class="col-md-3"></div>
         <div class="col-md-6" id="room-container">
         {{#if noRoomsCreated }}
           <span class="item room">
             <a href="" id="room-to-add"><span class="glyphicon glyphicon-plus"></span></a>
           </span>
         {{else}}
           {{#each rooms}}
             <span class="item room">
               <a href="/room/{{number}}">{{number}}</a>
             </span>
           {{/each}}
         {{/if}}
         </div>
         <div class="col-md-3"></div>
       </div>
       </section>
     {{/if}}
  </section>
</template>
