<template name="messages">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <ul class="msgs list-group" id="msg-container">
        {{ #each messages }}
          {{> message}}
        {{ else }}
          <li class="msg list-group-item">Start up a conversation!</li>
        {{ /each }}
      </ul>
    </div>
    <div class="col-md-3"></div>
  </div>
</template>

<template name="message">
  <li class="msg list-group-item" id="{{ _id }}">
		<span class="message-username">{{ username }}:</span>
		<span class="message-text">{{ message }}</span>
  </li>
</template>
